<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Philip's Blog</title>
    <link rel="icon" >
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <!-- check for login -->
            <div class="top-menu">
                <button class="btn btn-success btn-sm">
                    <a href="{% url 'post_new' %}" class="top-menu">Post <span class="glyphicon glyphicon-plus"></span></a>
                </button>
                <button class="btn btn-info btn-sm">
                    <a href="{% url 'post_draft_list' %}" class="top-menu">Drafts <span class="glyphicon glyphicon-edit"></span></a>
                </button>
                <button class="btn btn-warning btn-sm">
                    <a href="{% url 'logout' %}?next_page/blog/" class="top-menu">Logout <span class="glyphicon glyphicon-log-out"></span></a>
                </button>
            </div>
            <p class="top-menu">Hello, {{ user.username }}! </p>
        {% else %}
        <!-- if not logged add login button -->
        <div class="top-menu">
            <button class="btn btn-info btn-sm">
                <a href="{% url 'login' %}" class="top-menu">Log In <span class="glyphicon glyphicon-log-in"></span></a>
            </button>
            <button class="btn btn-success btn-sm">
               <a href="{% url 'signup' %}" class="top-menu">Sign Up <span class="glyphicon glyphicon-lock"></span></a>
            </button>
        </div>
        {% endif %}
        <h1><a href="/">Philip's Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>